<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <title>Информация о товаре</title>
</head>
<header>
    <img class="logo" src="/img/logo.png">
    <form method="get" th:action="@{/cart}">
        <input type="submit" class="header_btn" value="Корзина">
    </form>
    <form method="get" th:action="@{/orders}">
        <input type="submit" class="header_btn" value="Заказы">
    </form>
    <form method="post" th:action="@{/logout}">
        <input type="submit" class="header_btn" value="Выйти">
    </form>
</header>
<body class="background">
<h3>Товар</h3>
<div class="good">
    <div></div>
<div class="good_item">
<!--    <div th:each="img : ${product.getImageList()}">-->
        <div class="good_img">
            <div>
        <img th:src="'/img/' + ${product.imageList[0].getFileName()}" class="good1_img" width="300px">
            </div>

            <div>
                <img th:src="'/img/' + ${product.imageList[1].getFileName()}" class="good1_img" width="300px">
            </div>

            <div>
                <img th:src="'/img/' + ${product.imageList[2].getFileName()}" class="good1_img" width="300px">
            </div>
        </div>
<!--    </div>-->
<p th:text="${product.getTitle()}" class="good_title"></p>
<p th:text="'Описание: ' + ${product.getDescription()}" class="good_description"></p>
<p th:text="'Цена: ' + ${product.getPrice()}" class="good_price"></p>
<p th:text="'Склад: ' + ${product.getWarehouse()}" class="good_description"></p>
<p th:text="'Продавец: ' + ${product.getSeller()}" class="good_description"></p>
<p th:text="'Категория: ' + ${product.getCategory().getName()}" class="good_description"></p>

    <a th:href="@{/cart/add/{id}(id=${product.getId()})}" class="add_good_btn">Добавить в корзину</a>
</div>
</div>
</body>
</html>