<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <title>Главная страница</title>
</head>
<header>
    <img class="logo" src="/img/logo.png">
    <form method="get" th:action="@{/authentication/login}">
        <input type="submit" class="header_btn" value="Вход | Регистрация">
    </form>
</header>
<body class="background">
<h3 class="h3_product">Главная страница магазина</h3>
<form th:method="POST" th:action="@{/product/search}">
        <div class="grid_one">
    <fieldset class="sort">
        <legend>Выберите параметр сортировки</legend>
        <label for="search">Поиск по наименованию: </label>
        <input name="search" id="search" th:value="*{value_search}">
        <br>
        <p>Цена, ₽</p>
        <label for="from">От</label>
        <input type="text" name="from" id="from" th:value="*{value_price_from}">
        <br>
        <label for="to">До</label>
        <input type="text" name="to" id="to" th:value="*{value_price_to}">
        <br>
        <br>
        <div>
            <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
            <label for="ascending_price">Сортировать по возрастанию цены</label>
            <br>
            <br>
            <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
            <label for="descending_price">Сортировать по убыванию цены</label>
            <br>
            <br>
            <p>Категория товаров: </p>
            <input type="radio" id="clothes" name="contact" value="clothes">
            <label for="clothes">Одежда</label>
            <input type="radio" id="documents" name="contact" value="documents">
            <label for="documents">Документы</label>
            <input type="radio" id="accessories" name="contact" value="accessories">
            <label for="accessories">Принадлежности</label>
            <br>
            <br>
            <input type="submit" class="search_btn" value="Найти">
        </div>
    </fieldset>
</form>
    <div class="grid_one1">
       <div>
        <h3 th:if="${search_product}">Результат</h3>
        <div th:if="${search_product}" class="goods">
        <div th:each="product : ${search_product}">
            <div class="goods_item">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" class="goods_img" width="300px">
            <div class="goods_title">
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text ="${product.getTitle()}"></a>
            </div>
            <div class="goods_price">
            <p th:text="'Цена: ' + ${product.getPrice()}"></p>
                </div>
            </div>
        </div>

        </div>

            </div>

      <div>
        <h3>Доступные товары</h3>
        <div class="goods">
        <div th:each="product : ${products}">
            <div class="goods_item">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" class="goods_img" width="300px">
        <div class="goods_title">
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text ="${product.getTitle()}"></a>
        </div>
        <div class="goods_price">
            <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        </div>
        </div>
        </div>
        </div>
            </div>
        </div>
</div>
</div>
</body>
</html>